@tailwind base;
@tailwind components;
@tailwind utilities;

/*=============== GOOGLE FONTS ===============*/
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Mukta:wght@200;300&family=Playfair+Display&display=swap'); */

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
}
/* body.dark-theme{
 background-color: #000;
 color: #fff;
} */

:root {
  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
.change-theme{
  position: absolute;
  right: 1rem;
  top: 1.8rem;
  color: var(--text-color);
  font-size: 1rem;
  cursor: pointer;
}

.headerText {
  color: #9c27b0;
  background-image: -webkit-linear-gradient(0deg, #9c27b0 31%, #ffeb3b 54%, #9c27b0 69%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.p{
  font-family: 'Playfair Display', serif;
}
.p2{
  font-family: 'Inconsolata', monospace;
  font-weight: bolder;
}
.p3{
  font-family: 'Mukta', sans-serif;
}
@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

*:focus,
*:active {
  outline: none;
}


html {
  scroll-behavior: smooth;
}


body {
  background-color: #fff;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}



/*========== LAYOUT ==========*/
.bd-container {
  max-width: 960px;
  width: calc(100% - 2rem);
}


.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #fff;
}

.nav__logo {
  margin-left: -7rem;
}

.nav__socials {
  margin-left: 7rem;
}

.img-logo {
  /* width: 100%; */
  /* height: 50px; */
  /* object-fit: cover; */
}

/*========== NAV ==========*/
.nav {
  max-width: 1024px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 1.5rem 0 1rem;
    text-align: center;
    background-color: #fff;
    border: none;
    transition: .4s;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    border-radius: 0 0 1rem 1rem;
    z-index: var(--z-fixed);
  }

  .nav__logo {
    margin-left: 0rem;
  }

  .nav__socials {
    margin-left: 0rem;
  }


}

.nav__item {
  margin-bottom: 0;
}


.nav__toggle {
  color: purple;
  font-weight: var(--font-medium);
}

.nav__link {
  transition: .3s;
}

.nav__link:hover {
  color: purple;
}

.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  top: var(--header-height);
}

/* Active menu */
.active-link {
  color: rgb(192, 11, 192);
}

button:focus,
button:active {
  outline: none;
  /* Remove default outline */
  border: none;
  /* Remove default border */
}

/* Change background header */
.scroll-header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background: rgb(223, 8, 223);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}



.scrolltop:hover {
  background-color: var(--first-color-alt);
}

.scrolltop__icon {
  font-size: 1.8rem;
  color: var(--body-color);
}

/* Show scrolltop */
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}



/*========== MEDIA QUERIES ==========*/

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }
  .change-theme{
    position: initial;
    margin-left: var(--mb-2);
  }

}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
